body {
    background-image: url("../images/background.jpg");
    background-size: auto;
    
}

#target {
    font-size: 22px;
    color: purple;
    width: 180px;
    height: 80px;
}

h1 {
    color:white;
    background-color:orange;
    text-align: center;
    margin: auto;
}
#container {
    background-color: beige;
    color: green;
}
